---
---

@import "{{ site.theme }}";

.main-content {
  h1 {
    margin-bottom: 0rem;
  }
  hr {
    height: 1px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
  }
}

section.post-meta {
  color:#9EABB3;
  font-size:0.95rem;
  margin-bottom: 1rem
}
